<style>
h1{
    color:blue;
    
}
h3{
    font-family: monospace;
}
body{
   color:blueviolet;
    font-family: cursive;
    color: black;
background-image: url(IMG_20161218_124425_HDR.jpg)
}
</style>
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}